* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: work__sans;
}

@font-face {
  font-family: work__sans;
  src: url(../Work_Sans/static/WorkSans-Medium.ttf);
}
@font-face {
  font-family: mono;
  src: url(../Space_Mono/SpaceMono-Regular.ttf);
}
body {
  background-color: #2B2B2B;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.header {
  display: flex;
  height: 54px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  z-index: 999;
}
.header__shrink {
  background: rgba(43, 43, 43, 0.1098039216);
  box-shadow: 0px 2px 10px #8e5ecd;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
.header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
  padding-bottom: 20px;
}
.header .nav .nav__bar__btn {
  width: 25px;
  height: 25px;
}
.header .nav .nav__link__items, .header .nav .nav__link__items__top {
  display: none;
  gap: 30px;
  display: none;
  align-items: center;
}
.header .nav .nav__link__items .nav__links, .header .nav .nav__link__items__top .nav__links {
  display: flex;
  gap: 30px;
  align-items: center;
}
.header .nav .nav__link__items .nav__links .nav__link, .header .nav .nav__link__items__top .nav__links .nav__link {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #fff;
  line-height: 22px;
  display: inline-block;
  padding: 5px 0px;
  position: relative;
}
.header .nav .nav__link__items .nav__links .nav__link::after, .header .nav .nav__link__items__top .nav__links .nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: #a56af2;
  transition: 0.5s;
}
.header .nav .nav__link__items .nav__links .nav__link:hover::after, .header .nav .nav__link__items__top .nav__links .nav__link:hover::after {
  width: 100%;
}
.header .nav .nav__link__items .nav__items__btn, .header .nav .nav__link__items__top .nav__items__btn {
  width: 152px;
  height: 60px;
  background-color: #A259FF;
  border-radius: 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 0px 30px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.header .nav .nav__link__items .nav__items__btn:hover, .header .nav .nav__link__items__top .nav__items__btn:hover {
  background-color: #fff;
  color: #8e5ecd;
}
.header .nav .nav__link__items .nav__items__btn:hover .fa-user, .header .nav .nav__link__items__top .nav__items__btn:hover .fa-user {
  color: #8e5ecd;
  font-style: 32px;
}

@media (min-width: 300px) {
  .header .nav .nav__link__items {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    background: rgba(161, 89, 255, 0.3568627451);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    transition: 0.4s ease-out;
    display: flex;
  }
  .header .nav .nav__link__items .nav__links {
    display: flex;
    flex-direction: column;
  }
  .header .nav .nav__list-show {
    left: 0;
  }
}
@media (min-width: 1000px) {
  .header {
    height: 100px;
  }
  .header .nav .nav__logo {
    width: 243px;
    height: 32px;
  }
  .header .nav .nav__bar__btn {
    display: none;
  }
  .header .nav .nav__link__items__top {
    display: flex;
  }
}
.hero__mobile {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.hero__mobile .hero__infos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.hero__mobile .hero__infos .hero__infos__h {
  font-weight: 600;
  font-size: 28px;
  line-height: 39px;
  color: #fff;
  width: 100%;
}
.hero__mobile .hero__infos .hero__infos__p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  width: 100%;
}
.hero__mobile .hero__card {
  width: 100%;
  border-radius: 20px;
  background-color: #3B3B3B;
  overflow: hidden;
}
.hero__mobile .hero__card__nft {
  width: 100%;
}
.hero__mobile .hero__card__texts {
  display: flex;
  flex-direction: column;
  padding: 22px 20px;
  gap: 10px;
}
.hero__mobile .hero__card__h {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #fff;
}
.hero__mobile .hero__card__avatar {
  display: flex;
  align-items: center;
  gap: 12px;
}
.hero__mobile .hero__card__avatar__p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}
.hero__mobile .hero__btn {
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  border: none;
  color: #fff;
  background-color: #A259FF;
  font-size: 16px;
  line-height: 22px;
}
.hero__mobile .hero__btn:hover {
  background-color: #fff;
  color: #A259FF;
}
.hero__mobile .hero__statistics {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.hero__mobile .hero__statistics__h {
  font-weight: 500;
  font-size: 22px;
  line-height: 35px;
  color: #fff;
}
.hero__mobile .hero__statistics__p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.hero__tablet {
  margin-top: 80px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  display: none;
}
.hero__tablet .hero__tablet__left {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero__tablet .hero__tablet__left .tablet__left__h {
  font-weight: 600;
  font-size: 38px;
  line-height: 45px;
  color: #fff;
}
.hero__tablet .hero__tablet__left .tablet__left__p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}
.hero__tablet .hero__tablet__left .hero__tablet__btn {
  width: 65%;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  border: none;
  color: #fff;
  background-color: #A259FF;
  font-size: 16px;
  line-height: 22px;
}
.hero__tablet .hero__tablet__left .hero__tablet__btn:hover {
  background-color: #fff;
  color: #A259FF;
}
.hero__tablet .hero__tablet__left .hero__tablet__statistics {
  display: flex;
  gap: 30px;
  align-items: center;
  color: #fff;
}
.hero__tablet .hero__tablet__left .hero__tablet__statistics__h {
  font-weight: 500;
  font-size: 22px;
  line-height: 35px;
  color: #fff;
}
.hero__tablet .hero__tablet__left .hero__tablet__statistics__p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}
.hero__tablet .hero__tablet__right {
  width: 45%;
}
.hero__tablet .hero__tablet__right .hero__tablet__card {
  width: 100%;
  border-radius: 20px;
  background-color: #3B3B3B;
  overflow: hidden;
}
.hero__tablet .hero__tablet__right .hero__tablet__card__nft {
  width: 100%;
}
.hero__tablet .hero__tablet__right .hero__tablet__card__texts {
  display: flex;
  flex-direction: column;
  padding: 22px 20px;
  gap: 10px;
}
.hero__tablet .hero__tablet__right .hero__tablet__card__h {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #fff;
}
.hero__tablet .hero__tablet__right .hero__tablet__card__avatar {
  display: flex;
  align-items: center;
  gap: 12px;
}
.hero__tablet .hero__tablet__right .hero__tablet__card__avatar__p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

@media (min-width: 760px) {
  main .hero__mobile {
    display: none;
  }
  main .hero__tablet {
    display: flex;
  }
}
@media (min-width: 1000px) {
  .hero__tablet .hero__tablet__left .tablet__left__h {
    font-size: 67px;
    line-height: 73px;
    width: 80%;
    letter-spacing: 0.5px;
  }
  .hero__tablet .hero__tablet__left .tablet__left__p {
    font-size: 22px;
    line-height: 35px;
    width: 80%;
    text-transform: capitalize;
    letter-spacing: 0.5px;
  }
  .hero__tablet .hero__tablet__left .hero__tablet__btn {
    width: 38%;
  }
}
.collection {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.collection .collection__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.collection .collection__info .col__h {
  font-weight: 600;
  font-size: 28px;
  line-height: 39px;
  color: #fff;
  width: 100%;
  text-align: center;
}
.collection .collection__info .col__p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  height: 100%;
  text-align: center;
}
.collection .collection__cards {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.collection .collection__cards .collection__card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.collection .collection__cards .collection__card .coll__card__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.collection .collection__cards .collection__card .col__card__imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
}
.collection .collection__cards .collection__card .col__card__infos {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
}
.collection .collection__cards .collection__card .col__card__infos .col__card__infos__h {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #fff;
}
.collection .collection__cards .collection__card .col__card__infos .col__card__ava {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

@media (min-width: 420px) {
  .collection .collection__cards .collection__card {
    flex: 1/2;
    display: flex;
    justify-content: start;
  }
}
@media (min-width: 1200px) {
  .collection .collection__cards .collection__card {
    flex: 1/3;
  }
}
.creators {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
.creators .creators__infos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.creators .creators__infos .creators__info__h {
  font-weight: 600;
  font-size: 28px;
  line-height: 39px;
  color: #fff;
}
.creators .creators__infos .creators__info__p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}
.creators .creators__cards {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.creators .creators__cards .creators__card {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #3B3B3B;
  border-radius: 20px;
  padding: 20px;
  gap: 20px;
  position: relative;
}
.creators .creators__cards .creators__card .creators__card__img__ava {
  width: 70px;
  height: 70px;
}
.creators .creators__cards .creators__card .creators__card__span {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #2B2B2B;
  color: #858584;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  left: 15px;
}
.creators .creators__cards .creators__card__taxts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.creators .creators__cards .creators__card__taxts .creators__card__h {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #fff;
}
.creators .creators__cards .creators__card__sales {
  display: flex;
  gap: 5px;
}
.creators .creators__cards .creators__card__sales .creators__card__sales_fp {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #858584;
}
.creators .creators__cards .creators__card__sales .creators__card__sales_sp {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  font-family: mono;
}
.creators .creators__btn {
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  border: none;
  color: #fff;
  background-color: transparent;
  border: 2px solid #A259FF;
  font-size: 16px;
  line-height: 22px;
}
.creators .creators__btn:hover {
  background-color: #fff;
  color: #A259FF;
}
.creators .creators__btn .fa-solid {
  color: #A259FF;
}

.creators__tablet {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}
.creators__tablet .creators__tablet__top {
  display: flex;
  gap: 100px;
}
.creators__tablet .creators__tablet__top .creators__tablet__info__inner {
  display: flex;
  gap: 10px;
  flex-direction: column;
  color: #fff;
}
.creators__tablet .creators__tablet__btn__tb {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.creators__tablet .creators__tablet__btn {
  width: 50%;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  border: none;
  color: #fff;
  background-color: transparent;
  border: 2px solid #A259FF;
  font-size: 16px;
  line-height: 22px;
}
.creators__tablet .creators__tablet__btn:hover {
  background-color: #fff;
  color: #A259FF;
}
.creators__tablet .creators__tablet__btn .fa-solid {
  color: #A259Ff;
}
.creators__tablet .creators__tablet__bottom {
  padding-top: 40px;
}
.creators__tablet .creators__tablet__bottom .creators__tablet__cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.creators__tablet .creators__tablet__bottom .creators__tablet__cards .creators__tablet__card {
  display: flex;
  align-items: center;
  width: 50%;
  background-color: #3B3B3B;
  border-radius: 20px;
  padding: 20px;
  gap: 20px;
  position: relative;
}
.creators__tablet .creators__tablet__bottom .creators__tablet__cards .creators__tablet__card .creators__tablet__card__img__ava {
  width: 70px;
  height: 70px;
}
.creators__tablet .creators__tablet__bottom .creators__tablet__cards .creators__tablet__card .creators__tablet__card__span {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #2B2B2B;
  color: #858584;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  left: 15px;
}
.creators__tablet .creators__tablet__bottom .creators__tablet__cards .creators__tablet__card__taxts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.creators__tablet .creators__tablet__bottom .creators__tablet__cards .creators__tablet__card__taxts .creators__tablet__card__h {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #fff;
}
.creators__tablet .creators__tablet__bottom .creators__tablet__cards .creatocreators__tablet__card__salesrs__card__sales {
  display: flex;
  gap: 5px;
}
.creators__tablet .creators__tablet__bottom .creators__tablet__cards .creatocreators__tablet__card__salesrs__card__sales .creators__tablet__card__sales_fp {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #858584;
}
.creators__tablet .creators__tablet__bottom .creators__tablet__cards .creatocreators__tablet__card__salesrs__card__sales .creators__tablet__card__sales_sp {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  font-family: mono;
}

@media (min-width: 944px) {
  main .creators .creators__infos {
    display: none;
  }
  main .creators .creators__cards .creators__card {
    display: none;
  }
  main .creators .creators__btn {
    display: none;
  }
  main .creators__tablet {
    display: block;
  }
  main .creators__tablet__bottom .creators__tablet__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  main .creators__tablet__bottom .creators__tablet__cards .creators__tablet__card {
    flex: 1/2;
  }
  main .creators__tablet__bottom .creators__tablet__cards .creators__tablet__card__taxts .creators__tablet__card__sales {
    display: flex;
    gap: 5px;
  }
  main .creators__tablet__bottom .creators__tablet__cards .creators__tablet__card__taxts .creators__tablet__card__sales .creators__tablet__card__sales_fp {
    color: #858584;
  }
  main .creators__tablet__bottom .creators__tablet__cards .creators__tablet__card__taxts .creators__tablet__card__sales .creators__tablet__card__sales_sp {
    font-family: mono;
    color: #fff;
  }
}
@media (min-width: 1180px) {
  .creators__tablet .creators__tablet__info__inner .creators__tablet__info__h {
    font-size: 38px;
  }
  .creators__tablet .creators__tablet__info__inner .creators__tablet__info__p {
    font-size: 22px;
    line-height: 30px;
  }
  .creators__tablet .creators__tablet__bottom .creators__tablet__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .creators__tablet .creators__tablet__bottom .creators__tablet__cards .creators__tablet__card {
    width: 240px;
    height: 238px;
    display: flex;
    flex-direction: column;
    display: flex;
    gap: 0;
  }
  .creators__tablet .creators__tablet__bottom .creators__tablet__cards .creators__tablet__card .creators__tablet__card__img__ava {
    width: 100px;
    height: 120px;
  }
  .creators__tablet .creators__tablet__bottom .creators__tablet__cards .creators__tablet__card .creators__tablet__card__taxts {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .creators__tablet .creators__tablet__bottom .creators__tablet__cards .creators__tablet__card .creators__tablet__card__taxts .creators__tablet__card__sales {
    display: flex;
    color: #fff;
    gap: 5px;
  }
  .creators__tablet .creators__tablet__bottom .creators__tablet__cards .creators__tablet__card .creators__tablet__card__taxts .creators__tablet__card__sales .creators__tablet__card__sales_fp {
    font-size: 16px;
    color: #858584;
  }
  .creators__tablet .creators__tablet__bottom .creators__tablet__cards .creators__tablet__card .creators__tablet__card__taxts .creators__tablet__card__sales .creators__tablet__card__sales_fp .creators__tablet__card__sales_sp {
    font-family: mono;
    font-size: 16px;
  }
}