.hero__mobile {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    .hero__infos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        .hero__infos__h {
            font-weight: 600;
            font-size: 28px;
            line-height: 39px;
            color: #fff;
            width: 100%   ;
        }
        .hero__infos__p {
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #fff;
            width: 100%;
        }
    }
    .hero__card {
        width: 100%;
        border-radius: 20px;
        background-color: #3B3B3B;
        overflow: hidden;
        &__nft {
            width: 100%;
        }
        &__texts {
            display: flex;
            flex-direction: column;
            padding: 22px 20px;
            gap: 10px;
        }
        &__h {
            font-weight: 600;
            font-size: 22px;
            line-height: 30px;
            color: #fff;
        }
        &__avatar {
            display: flex;
            align-items: center;
            gap: 12px;
        }
        &__avatar__p {
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #fff;
        }
    }
    .hero__btn {
        width: 100%;
        padding: 20px;
        border-radius: 20px;
        display: flex;
        gap: 12px;
        align-items: center;
        justify-content: center;
        border: none;
        color: #fff;
        background-color: #A259FF;
        font-size: 16px;
        line-height: 22px;
        &:hover {
            background-color: #fff;
            color: #A259FF;
        }
        
    }
    .hero__statistics {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: center;    
        color: #fff;
        &__h {
            font-weight: 500;
            font-size: 22px;
            line-height: 35px;
            color: #fff;
        }
        &__p {
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #fff;
        }
    }
}

.hero__tablet {
    margin-top: 80px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    display: none;
    .hero__tablet__left {
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .tablet__left__h {
            font-weight: 600;
            font-size: 38px;
            line-height: 45px;
            color: #fff;
        }
        .tablet__left__p {
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #fff;
        }
        .hero__tablet__btn {
            width: 65%;
            padding: 20px;
            border-radius: 20px;
            display: flex;
            gap: 12px;
            align-items: center;
            justify-content: center;
            border: none;
            color: #fff;
            background-color: #A259FF;
            font-size: 16px;
            line-height: 22px;
            &:hover {
                background-color: #fff;
                color: #A259FF;
            }
            
        }
        .hero__tablet__statistics {
            display: flex;
            gap: 30px;
            align-items: center;    
            color: #fff;
            &__h {
                font-weight: 500;
                font-size: 22px;
                line-height: 35px;
                color: #fff;
            }
            &__p {
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: #fff;
            }
        }
    }

    .hero__tablet__right {
        width: 45%;
        .hero__tablet__card {
            width: 100%;
            border-radius: 20px;
            background-color: #3B3B3B;
            overflow: hidden;
            &__nft {
                width: 100%;
            }
            &__texts {
                display: flex;
                flex-direction: column;
                padding: 22px 20px;
                gap: 10px;
            }
            &__h {
                font-weight: 600;
                font-size: 22px;
                line-height: 30px;
                color: #fff;
                
            }
            &__avatar {
                display: flex;
                align-items: center;
                gap: 12px;
            }
            &__avatar__p {
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: #fff;
            }
        }
    }
    

    
}





@media (min-width:760px) {
    main {
        .hero__mobile {
            display: none;
        }
        .hero__tablet {
            display: flex;
        }
    }
    
}

@media (min-width:1000px) {
    .hero__tablet {
        
        .hero__tablet__left {
            .tablet__left__h {
                font-size: 67px;
                line-height: 73px;
                width: 80%;
                letter-spacing: 0.5px;
            }
            .tablet__left__p {
                font-size: 22px;
                line-height: 35px;
                width: 80%;
                text-transform: capitalize;
                letter-spacing: 0.5px;
            }
            .hero__tablet__btn {
                width: 38%;
            }
        }
    }
}
