.collection {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .collection__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        .col__h {
            font-weight: 600;
            font-size: 28px;
            line-height: 39px;
            color: #fff;
            width: 100%;
            text-align: center;
        }
        .col__p {
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #fff;
            height: 100%;
            text-align: center;
        }
    }

    .collection__cards {
        padding-top: 40px;
        display: flex;
        flex-wrap: wrap;
        // width: 100%;
        align-items: center;
        justify-content: center;
        gap: 50px;
        
        .collection__card {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .coll__card__inner {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .collection__card__img_nft {
                // width: 100%;
            }            
            .col__card__imgs {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;
                width: 100%;
                
            }
            .col__card__infos {
                display: flex;
                flex-direction: column;
                justify-content: start;
                gap: 10px;
                .col__card__infos__h {
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 30px;
                    color: #fff;
                }
                .col__card__ava {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    color: #fff;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                }
            }

        }
    }
}   


@media (min-width:420px) {
    .collection {
        .collection__cards {
         .collection__card {
            flex: 1/2;
            display: flex;
            justify-content: start;
           
            
         }
           
        }
    }
}

@media (min-width:1200px) {
    .collection {
        .collection__cards {
            // display: flex;
            // justify-content: start;
         .collection__card {
            flex: 1/3;
           
            
         }
           
        }
    }
}


